body{
	background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0.5)));
	background-image: url('image.jpg');
	background-size:cover;
	background-position: center;
	 
}	
.row{
margin: 150px auto;
}
h2{
	color: #DF2800;
}
label{
	font-size: 20px;
	color: #FFCC00;
}